.theme5 {
    -fx-background-color: #0d1b2a;
}

.theme4 {
    -fx-background-color: #1b263b;
}

.theme3 {
    -fx-background-color: #415a77;
}

.theme2 {
    -fx-background-color: #778da9;
}

.theme1 {
    -fx-background-color: #e0e1dd;
}

.fieldpass {
    -fx-text-fill: #fff;
    -jfx-unfocus-color: #d1d1d1;

}

.fieldfail {
    -fx-text-fill: #fff;
    -jfx-unfocus-color: #e51010;

}

.dashboard-button {
    -fx-text-fill: #e0e1dd;
    -fx-font-family: 'Roboto';
    -fx-font-size: 20px;
}

.dashboard-button:hover {
    -fx-background-color: #0d1b2a;
}

.dashboard-button:pressed {
    -fx-background-color: #2A3F54;
}

.home-selected {
    -fx-border-color: yellow;
}

.white-text {
    -fx-text-fill: #e0e1dd;
    -fx-font-family: 'Roboto';
    -fx-font-size: 20px;
}

.listings-button {

    -fx-text-fill: #e0e1dd;
    -fx-font-family: 'Roboto';
    -fx-font-size: 16px;
    -fx-background-color: #1b263b;

}

.time-picker {
    -fx-prompt-text-fill: #e0e1dd;
    -fx-font-family: 'Roboto';
    -fx-font-size: 12px;
    -fx-text-fill: WHITE;
    -fx-text-inner-color: red;
}

.time-picker:selected {
    -fx-background-color: #263146;
    -fx-text-fill: WHITE;
    -fx-prompt-text-fill: #e0e1dd;
    -fx-text-inner-color: red;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #1b263b;
}

.tab {
    -fx-text-fill: WHITE;
    -fx-background-color: #1b263b;
}

.tab-label {
    -fx-text-fill: WHITE;
}

.image-pane-add {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: rgba(5, 12, 51, 0.664);
    -fx-background-radius: 5;
}

.image-pane-add:hover {
    -fx-background-color: rgba(255, 0, 0, 0.479);
}

.image-pane-add::selection {
    -fx-background-color: rgba(255, 0, 0, 0.479);
}

.jfx-date-picker:editable .date-picker-display-node {
    -fx-text-fill: white;
}

.jfx-combo-box .list-cell:selected:filled {
    -fx-text-fill: white;
}

.jfx-combo-box {
    -fx-prompt-text-fill: white;
}

.crud-txt {
    -fx-background-color: rgb(255, 255, 255);
    -fx-prompt-text-fill: rgb(168, 168, 168);
}
